<div class="main-wrapper">
  <div class="button-wrapper">
    <button mat-raised-button color="primary" (click)="goToQuestions()">
      Go to Questions
    </button>
  </div>

  <div class="display-wrapper">
    <div class="unanswered-wrapper">
      <p class="subtitle">UNANSWERED QUESTIONS</p>
      <mat-card
        *ngFor="let question of unansweredQuestions"
        class="unanswerd-cards"
      >
        <mat-card-content>
          <p><span class="sub-title">Question:</span> {{ question.text }}</p>
          <div *ngIf="typeIsMulti(question)">
            <app-multi-choice-answer
              [question]="question"
            ></app-multi-choice-answer>
          </div>
          <div *ngIf="typeIsOpen(question)">
            <app-open-answer [question]="question"></app-open-answer>
          </div>
          <div *ngIf="typeIsSingle(question)">
            <app-single-choise-answer
              [question]="question"
            ></app-single-choise-answer>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="answered-wrapper">
      <p class="subtitle">ANSWERED QUESTIONS</p>
      <mat-card
        *ngFor="let question of answeredQuestions"
        class="answerd-cards"
      >
        <mat-card-content>
          <p>Question: {{ question.text }}</p>
          <p>
            Answer:
            {{
              question.answer.open ||
                question.answer.single ||
                question.answer.multi
            }}
          </p>
          <p>Answer was added: {{ question.answer.date }}</p>
        </mat-card-content>
        <div>
          <button
            mat-raised-button
            color="primary"
            (click)="makeUnanswered(question)"
          >
            Make unanswered
          </button>
        </div>
      </mat-card>
    </div>
  </div>
</div>
