.form {
  width: 300px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.radio-buttons-wrapper {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin: 10px 0;
  align-items: flex-start;
}

.textaria-wrapper {
  margin-top: 10px;
}

.wrapper,
button {
  width: 100%;
}

.button-wrapper {
  width: 130px;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-top: 50px;
}

textarea {
  padding: 0;
}

.hidden {
  display: none;
}
