<div *ngIf="form && options">
  <form class="check-boxes-wrapper" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div formArrayName="checkboxes">
      <p class="sub-title">Choose min 2 answers</p>
      <div class="check-boxes-wrapper">
        <div *ngFor="let option of options">
          <mat-checkbox [formControlName]="option" [value]="option">{{
            option
          }}</mat-checkbox>
        </div>
      </div>
    </div>
    <div class="button-wrapper">
      <button
        mat-raised-button
        type="submit"
        color="primary"
        [disabled]="form.invalid"
      >
        Save answer
      </button>
    </div>
  </form>
</div>
