.title-container,
.button-container {
  width: 170px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

.title-container {
  width: 260px;
  font-size: 20px;
  padding-top: 40px;
}

button {
  width: 100%;
  font-size: 12px;
}

table {
  width: 100%;
  margin-top: 30px;
}

td.mat-cell,
th.mat-header-cell {
  text-align: center !important;
}

.buttons {
  display: flex;
  width: 500px;
  margin: 0 auto;
}
