.title-container,
.button-container {
  width: 170px;
  margin: 50px auto;
  text-align: center;
}

button,
p {
  width: 100%;
  font-size: 12px;
}

table {
  width: 700px;
  margin: 0 auto;
}

table {
  width: 100%;
}

td.mat-cell,
th.mat-header-cell {
  text-align: center !important;
}
